form p {
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 5px;
    width: 100%;
    margin: 0 auto 50px auto;
    font-size: 20px;
}

form input, form select, form textarea {
    border-radius: 4px;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.kol1 {
    grid-column: 1;
}

.kol2 {
    grid-column: 2;
}

#productnaam, #productprijs, #productomschrijving, #productcategorie, #productafbeelding, form textarea {
    font: 20px "Baskerville Old Face", sans-serif;
}

#wijzigen {
    font: 20px "Baskerville Old Face", sans-serif;
    border-radius: 4px;
    grid-column: span 2;
}

#opslaan {
    display: none;
    font: 20px "Baskerville Old Face", sans-serif;
    border-radius: 4px;
    grid-column: span 2;
}

#error {
    color: red;
    font-size: 25px;
    text-align: center;
}

#name-error {
    color: red;
    grid-column: span 2;
    grid-row: 1;
}

#price-error {
    color: red;
    grid-column: span 2;
    grid-row: 3;
}

#description-error {
    color: red;
    grid-column: span 2;
    grid-row: 5;
}

#image-error {
    color: red;
    grid-column: span 2;
    grid-row: 7;
}

.error-message {
    color: red;
}

@media screen and (min-width: 501px) {
    form {
        width: 500px;
        grid-template-columns: 30% 1fr;
    }
}

@media screen and (min-width: 931px) {
    form {
        margin: 0 auto;
    }
}
